@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Piadas Negras Humoristicas</h1>
</div>

<div style="display:flex; justify-content:center;">
    <img src="/Imagens/army.png" />
</div>